@{
    ViewData["Title"] = "Home Page";

}
@model Statistics
<div class="block1">
    <form id="form1" method="post" action="Home/GenerateGuesswork">
        <label>Загадайте двух значное число</label> <br />
        <br />
        <input type="submit" name="Donate" value="Да загадал" />

    </form>
</div>
<h3>Список Экстрасенсов</h3>
<div>

    @foreach (var p in Model.Psychics)
    {
        <div>

            Имя экстрасенса: @p.Name
            <br />
            Догадка экстрасенса: @p.Guess
            <br />
            Уровень достоверности: @p.ConfidenceLevel
            <br />
            <div>
                <table border="1" bordercolor="green" bgcolor="yellow">
                    <thead>
                        <tr>
                            <td colspan="4">История Дагадок</td>
                        </tr>
                    </thead>
                    <tr>
                        <th>№</th>
                        <th>Значения</th>
                    </tr>
                    @{

                        for (int i = 0; i < p.GuessedHistory.Count; i++)
                        {

                            <tr>
                                <td>@(i+1) </td>
                                <td>@p.GuessedHistory[i]</td>
                            </tr>

                        }

                    }


                </table>
            </div>

            ==================
            <br />
        </div>
    }
</div>
<h3>Загаданные числа</h3>
<div>
    <div>
        <table border="1" bordercolor="green" bgcolor="yellow">
            <thead>
                <tr>
                    <td colspan="4">Загаданные числа</td>
                </tr>
            </thead>
            <tr>
                <th>№</th>
                <th>Значения</th>
            </tr>

            @{
                for (int i = 0; i < Model.GuessedNumbers.Count; i++)
                {
                    <tr>
                        <td>
                            @(i+1)
                        </td>
                        <td>@Model.GuessedNumbers[i]</td>
                    </tr>

                }
            }
        </table>
    </div>
</div>